@model Wiser.Models.User.UserDetailItem

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/Content/js")
<h2 class="display-4" style="text-align: center; font-weight: lighter;">Favorites</h2>
@if (Model.Favorites.Count == 0)
{
    <div class="jumbotron noFavorites">
    <h1 class="centered">
        Unfortunately, you currently have no favorites.
        Go to the Infinity Scroll to find some wisdom you'd like to favorite!
    </h1>
    </div>
}
@Html.Partial("ScrollItem", Model.Favorites)
@section scripts {
    <script language="javascript" type="text/javascript">
        console.log("Yup it's checked");
        $(document).ready(function () {
            $(".favoriteButton").removeClass("fa-heart-o");
            $(".favoriteButton").addClass("fa");
            $(".favoriteButton").addClass("fa-times");
            $(".upvote").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'PUT',
                    url: `/api/upvote/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            alert("Already upvoted! ;) UwU");
                        }
                        else {
                            alert('${r} naniwa!');
                            target.removeClass();
                            target.hide();
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to upvote post");
                    });
            });
            $(".favoriteButton").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'DELETE',
                    url: `/api/rmfavorite/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            alert("Already Unfavorited ;) UwU");
                        }
                        else {

                            target.hide();
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to unfavorite post");
                    });
            });
        });
    </script>

}