@model IEnumerable<Wiser.Models.Wisdom.WisdomScrollItem>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    @:<h3 style="text-align: center;">Welcome back, <span class="usernameText"> @TempData["Owner"]</span></h3>
}
    <h3 class="create">
        @Html.ActionLink("create", "Create")
    </h3>
@Html.Partial("ScrollItem")
<style>
    .create {
        text-align: center;
        font-family: Augustus;
        margin: 0 auto;
    }
</style>
<style>
    .usernameText {
        font-weight: bold;
    }
</style>
@section scripts {
    <script language="javascript" type="text/javascript">
        console.log("Yup it's checked");
        $(document).ready(function () {
            $(".upvote").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                $.ajax({
                    type: 'PUT',
                    url: `/api/upvote/${id}`
                })
                    .done(function (r) {
                        if (r == false) {
                            alert("Already upvoted this!");
                            setTimeout(function () {
                                var alertTarget = $('#alertTarget');
                            }, 5000)
                        }
                        else {
                            target.removeClass();
                            target.addClass("fa fa-thumbs-up upvote scrollIcon");
                            console.log("Upvote worked");
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to upvote post");
                    });
            });
            $(".favoriteButton").click(function (e) {
                var target = $(e.target);
                var id = target.attr('id');
                console.log(id);
                $.ajax({
                    type: 'POST',
                    url: `/api/favorite/${id}`
                })
                    .done(function (r) {
                        console.log(r);
                        if (r == false) {
                            $.ajax({
                                type: 'DELETE',
                                url: `/api/rmfavorite/${id}`
                            })
                                .done(function (r) {
                                    if (r == true) {
                                        target.removeClass("fa-heart-o");
                                        target.addClass("fa fa-heart scrollIcon");
                                        console.log("Remove success");
                                    }
                                    else {
                                        console.log("Remove failed");
                                    }
                                })
                                .fail(function (r) {
                                    console.log("shit");
                                })
                        }
                        else {
                            target.removeClass();
                            target.addClass("fa fa-heart scrollIcon");
                            console.log(r);
                        }
                    })
                    .fail(function (r) {
                        alert("Failed to favorite post");
                    });
            });
        });
    </script>

}