@model IEnumerable<Wiser.Models.Wisdom.WisdomScrollItem>

@{
    ViewBag.Title = "Manage";
}
<h2>Manage Your Wisdom</h2>
@if (Model.Count() == 0)
{
    <div class="jumbotron noFavorites">
        <h1 class="centered">
            Unfortunately, you currently have no wisdom.
            Go to the "Create Wisdom" link to create some wisdom you can edit.
        </h1>
    </div>
}
@Html.Partial("ScrollEditItem", Model)
