@using Microsoft.AspNet.Identity
<link href="~/Content/Site.css" rel="stylesheet" />
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right nav-text">
        <li>
            <a href='@Url.Action($"Edit/{User.Identity.GetUserId()}","User")' class=" nav-text">Account</a>
            <span class="nav-text">@*@Html.ActionLink("Account", $"Edit/{User.Identity.GetUserId()}", "User")*@</span>
        </li>
        &nbsp;
        &nbsp;
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="nav-text">Logout</span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link nav-text" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link nav-text" })</li>
    </ul>
}